<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{{user.username}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script language="JavaScript" type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122917934-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122917934-1');
    </script>

</head>
<body>
    <section>
        <!--<iframe width="420" height="315"-->
            <!--src="https://www.youtube.com/embed/akAQ5s4-Tp0?ecver=2">-->
        <!--</iframe>-->
    </section>
    <section>
        <span>Its try to play with FE and BE. D'nt kill me ))</span>
        <strong>it's ugly, I know. I will fix it soon. Now I'm experimenting with BE and social networks.</strong>
    </section>
    <p>You'r in home page,  {{user.username}} !</p>
    <p>test -- {{user.first_name}} {{user.last_name}} {{user.email}}</p>
    <br>
    <p id="login-form" ><a  href="{% url 'login' %}"> Log in </a></p>
    <p id="logout-form" ><a  href="{% url 'logout' %}"> Log out </a></p>

     <form >
         <input type="button" onclick="javascript:post_new('{{user.id}}')" value="Create new record" /><br>
         <input type="text" id="newtext" placeholder="text..." ><br>
     </form>
    <section>
        <div class="container">
            <div id="data-container" align="center" ></div>
                <div id="navigation" align="center">
                    <input type="button" title="Click to get previous page" onclick="buttonPrev();" value="<<Prev"/>
                    <input type="button" title="Click to get next page" onclick="buttonNext();" value="Next>>"/>
                </div>
        </div>
    </section>
    <script>
        getData(currentUrl);
        hideButtons('{{user.username}}');
    </script>
</body>
</html>

