<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Login </title>
</head>

<body>
    <h2>Wellcome! Who are you?</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <p>here</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    <!--<a href="">Google (useless)</a>-->
</body>

</html>

